<a href="https://colab.research.google.com/github/mspendyala/data-engineering/blob/main/SyntheticData/Generate_Random_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://pythonsimplified.com/generate-fake-data-using-faker-and-python/

In [32]:
pip install faker-credit-score

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker-credit-score
  Downloading faker_credit_score-0.3.0.tar.gz (5.3 kB)
Requirement already satisfied: Faker in /usr/local/lib/python3.7/dist-packages (from faker-credit-score) (13.14.0)
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from Faker->faker-credit-score) (4.1.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker->faker-credit-score) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker->faker-credit-score) (1.15.0)
Building wheels for collected packages: faker-credit-score
  Building wheel for faker-credit-score (setup.py) ... done
  Created wheel for faker-credit-score: filename=faker_credit_score-0.3.0-py3-none-any.whl size=4217 sha256=5236988131f88fb642b591a5be59f3fe4917fcd1ecb4feb6d99e16b95196d231
  Stored in directory: /root/.cache/pip/wheels/f5/7e/e5/542ce70c5cc10c1062535a205315dccc6c30805e7af2e86fd8
Successfully built faker-credit-score
Installing collected packages: faker-credit-score
Successfully installed faker-credit-score-0.3.0

In [37]:
import pandas as pd
from faker import Faker
from faker_credit_score import CreditScore
Faker.seed(42)

fake = Faker(locale='en_US')
fake.add_provider(CreditScore)

fake_credit_cards = [
    {'first_name': fake.first_name(),
     'last_name': fake.last_name(),
     'address': fake.address(),
     'cred_card_provider': fake.credit_card_provider(),
     'credit_card_number': fake.credit_card_number(),
     'credit_card_expire': fake.credit_card_expire(),
     'credit_card_score': fake.credit_score(),
     'credit_card_score_provider': fake.credit_score_provider(),
     'credit_card_security_code': fake.credit_card_security_code()}
    for x in range(100)]

df = pd.DataFrame(fake_credit_cards)

In [38]:
df

,first_name,last_name,address,cred_card_provider,credit_card_number,credit_card_expire,credit_card_score,credit_card_score_provider,credit_card_security_code
0,Danielle,Johnson,"18196 Anthony Forge\nNew Carolyn, ID 94351",VISA 16 digit,3537940265423510,01/24,399,Experian,407
1,Amanda,Dudley,"959 Janet Cape Apt. 413\nSouth Joshuastad, MN ...",VISA 13 digit,4192832764835035,01/23,710,Equifax,953
2,Diana,Foster,"PSC 7242, Box 3884\nAPO AP 77123",Discover,3553287101226916,01/29,779,TransUnion,184
3,Kayla,Peterson,"0482 Monica Hills\nEast Nathaniel, ND 70015",Maestro,3570154303911712,07/31,451,TransUnion,489
4,Rodney,Lewis,"465 Lam Mission\nEast Jeffreymouth, OR 73104",VISA 13 digit,3501031051834730,09/31,804,TransUnion,311
...,...,...,...,...,...,...,...,...,...
95,Joseph,Williams,"5561 Melissa Cape\nPort Devonburgh, MI 57873",JCB 16 digit,4552166746762120214,07/29,748,Experian,9027
96,Samantha,Rodriguez,"45089 Tiffany Skyway\nAprilville, TN 95744",VISA 13 digit,30562890028775,04/25,718,Experian,540
97,William,Pierce,"77971 West Crest\nMcgeetown, MO 54547",Maestro,213119948837555,06/23,774,TransUnion,975
98,Jennifer,Wilson,"55488 Park Cape\nSouth Donald, WA 95077",Discover,2259331637351605,08/24,768,Experian,808
99,Savannah,Roberson,"922 Paul Rapid\nWilliamfurt, PA 91270",VISA 13 digit,4547226984858333940,05/28,502,TransUnion,587