<a href="https://colab.research.google.com/github/mspendyala/data-engineering/blob/main/ExploratoryDataAnalysis/DetectAndRemoveOutliers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Detecting and Removing Outliers**

Detect and remove outliers using Z-score and IQR score

In [3]:
# Import needed libraries
import pandas as pd
from sklearn import datasets
from scipy import stats
import numpy as np
import sklearn

In [4]:
# Import california housing price dataset
# x is independent variables are many where as y is a dependent variable which is always one
california = sklearn.datasets.fetch_california_housing()
x = california.data
y = california.target
columns = california.feature_names

In [5]:
# Create the dataframe
california_df = pd.DataFrame(california.data)
california_df.columns = columns
california_df['prediction_target'] = y
california_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,prediction_target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

**Using Z-Score**

What is Z-Score? 
How many standard deviations is the given value is this from the mean is called Z-Score. If Z-Score is zero then it is the same as the mean.

In [6]:
# Use Z-Score function defined in sciopy library to detect the outliers
# zscore could be above or below mean we are only taking absolute value

california_df_zscore = california_df
z_score = np.abs(stats.zscore(california_df))
print(z_score)

[[2.34476576 0.98214266 0.62855945 ... 1.05254828 1.32783522 2.12963148]
 [2.33223796 0.60701891 0.32704136 ... 1.04318455 1.32284391 1.31415614]
 [1.7826994  1.85618152 1.15562047 ... 1.03850269 1.33282653 1.25869341]
 ...
 [1.14259331 0.92485123 0.09031802 ... 1.77823747 0.8237132  0.99274649]
 [1.05458292 0.84539315 0.04021111 ... 1.77823747 0.87362627 1.05860847]
 [0.78012947 1.00430931 0.07044252 ... 1.75014627 0.83369581 1.01787803]]

8.3252	is 2.34476576 standard deviations away from mean of the MedINc column

In [7]:
#Define a threshold
threshold = 3
print(np.where(z_score>3))

(array([  131,   283,   409,   510,   511,   512,   514,   570,   576,
         710,   780,   799,   864,   865,   867,   869,   871,   922,
         923,   977,   985,   986,   995,  1010,  1021,  1024,  1024,
        1039,  1060,  1086,  1102,  1102,  1233,  1233,  1234,  1234,
        1235,  1235,  1238,  1238,  1239,  1239,  1240,  1240,  1541,
        1560,  1561,  1563,  1564,  1566,  1566,  1574,  1582,  1583,
        1586,  1591,  1593,  1602,  1617,  1621,  1636,  1637,  1642,
        1644,  1645,  1646,  1700,  1867,  1867,  1872,  1872,  1879,
        1889,  1889,  1910,  1910,  1911,  1911,  1912,  1912,  1913,
        1913,  1914,  1914,  1925,  1926,  1926,  1930,  1978,  1978,
        1979,  1979,  2025,  2119,  2213,  2294,  2311,  2392,  2392,
        2395,  2395,  2396,  2396,  2397,  2397,  2398,  2398,  2511,
        2511,  2776,  2826,  2963,  2969,  2975,  2978,  2999,  3004,
        3086,  3086,  3167,  3177,  3258,  3258,  3292,  3334,  3350,
        3350,  3364,  3413,  3486,  3533,  3542,  3554,  3560,  3603,
        3607,  3621,  3648,  3829,  3858,  3871,  3942,  3953,  3981,
        4014,  4018,  4035,  4042,  4044,  4045,  4046,  4047,  4049,
        4050,  4056,  4070,  4074,  4111,  4116,  4220,  4229,  4264,
        4266,  4267,  4319,  4345,  4352,  4492,  4579,  4604,  4605,
        4606,  4616,  4622,  4626,  4634,  4636,  4670,  4677,  4678,
        5242,  5243,  5244,  5246,  5247,  5248,  5250,  5252,  5253,
        5254,  5256,  5257,  5258,  5259,  5260,  5264,  5269,  5271,
        5272,  5275,  5277,  5281,  5291,  5292,  5304,  5318,  5352,
        5360,  5361,  5368,  5493,  5494,  5538,  5540,  5724,  5728,
        5738,  5815,  5921,  5924,  5963,  5964,  5968,  5983,  6055,
        6057,  6058,  6061,  6063,  6065,  6066,  6070,  6073,  6143,
        6204,  6226,  6287,  6289,  6297,  6298,  6303,  6328,  6329,
        6338,  6340,  6389,  6391,  6399,  6401,  6502,  6516,  6518,
        6550,  6551,  6576,  6590,  6591,  6592,  6712,  6720,  6724,
        6725,  6726,  6727,  6728,  6731,  6732,  6735,  6736,  6844,
        6915,  6919,  7130,  7357,  7361,  7617,  7864,  7907,  8311,
        8467,  8468,  8520,  8716,  8717,  8728,  8768,  8790,  8792,
        8793,  8794,  8795,  8796,  8797,  8799,  8800,  8804,  8805,
        8806,  8809,  8814,  8816,  8817,  8846,  8847,  8848,  8849,
        8850,  8851,  8852,  8853,  8854,  8874,  8875,  8876,  8878,
        8882,  8985,  8986,  9004,  9010,  9011,  9013,  9018,  9019,
        9027,  9036,  9040,  9064,  9081,  9084,  9114,  9118,  9122,
        9123,  9128,  9131,  9133,  9135,  9136,  9145,  9149,  9154,
        9159,  9166,  9167,  9170,  9172,  9172,  9183,  9185,  9193,
        9193,  9282,  9286,  9289,  9316,  9331,  9354,  9356,  9370,
        9381,  9382,  9418,  9431,  9431,  9451,  9451,  9579,  9671,
        9671,  9672,  9676,  9676,  9678,  9678,  9681,  9681,  9682,
        9682,  9683,  9683,  9692,  9693,  9697,  9716,  9744,  9748,
        9794,  9811,  9880,  9881, 10067, 10067, 10076, 10076, 10077,
       10077, 10078, 10079, 10079, 10080, 10080, 10081, 10081, 10082,
       10082, 10083, 10083, 10084, 10155, 10166, 10169, 10309, 10317,
       10318, 10324, 10332, 10376, 10389, 10401, 10402, 10405, 10417,
       10458, 10464, 10472, 10483, 10484, 10517, 10519, 10527, 10539,
       10562, 10644, 10661, 10664, 10667, 10670, 10671, 10673, 10682,
       10724, 10725, 10726, 10727, 10742, 10743, 10744, 10745, 10749,
       10757, 10759, 10760, 10761, 10763, 10839, 10842, 10910, 10921,
       10934, 10948, 10957, 10997, 10999, 11000, 11007, 11008, 11010,
       11020, 11037, 11038, 11041, 11042, 11066, 11067, 11083, 11349,
       11469, 11490, 11518, 11519, 11520, 11521, 11704, 11705, 11705,
       11706, 11706, 11707, 11707, 11708, 11708, 11709, 11709, 11710,
       11710, 11713, 11713, 11714, 11714, 11715, 11715, 11716, 11716,
       11717, 11717, 11719, 11720, 11720, 11721, 11721, 11722, 11722,
       11725, 11725, 11729, 11729, 11775, 11828, 11831, 11831, 11832,
       11832, 11833, 11833, 11834, 11834, 11848, 11848, 11849, 11849,
       11862, 11862, 11865, 11866, 11866, 11867, 11867, 11870, 11870,
       11912, 11960, 11970, 11976, 11982, 11989, 12002, 12006, 12022,
       12039, 12040, 12041, 12067, 12072, 12077, 12097, 12104, 12106,
       12109, 12114, 12115, 12119, 12122, 12126, 12127, 12128, 12129,
       12132, 12133, 12135, 12136, 12136, 12137, 12144, 12152, 12191,
       12194, 12201, 12204, 12214, 12215, 12218, 12227, 12258, 12303,
       12303, 12305, 12306, 12306, 12307, 12344, 12344, 12349, 12349,
       12354, 12361, 12365, 12371, 12372, 12376, 12376, 12390, 12394,
       12394, 12396, 12411, 12422, 12430, 12430, 12430, 12441, 12447,
       12447, 12623, 12658, 12663, 12671, 12703, 12813, 12814, 12817,
       12868, 12872, 12948, 12954, 12957, 13034, 13034, 13047, 13051,
       13053, 13080, 13098, 13099, 13132, 13139, 13176, 13181, 13182,
       13221, 13223, 13226, 13316, 13370, 13374, 13377, 13378, 13379,
       13382, 13383, 13387, 13399, 13403, 13422, 13423, 13424, 13459,
       13517, 13519, 13715, 13742, 13788, 13816, 13834, 13848, 13878,
       13889, 13890, 13900, 13911, 13912, 13919, 13923, 13923, 13924,
       13939, 13939, 13940, 13940, 13941, 13941, 13942, 13942, 13943,
       13943, 13944, 13944, 13945, 13945, 13946, 13946, 13947, 13947,
       13948, 13948, 13950, 13950, 13955, 13955, 13956, 13956, 13958,
       13958, 13959, 13961, 13961, 13963, 13963, 13964, 13964, 13965,
       13965, 13966, 13966, 13967, 13967, 13970, 13970, 13971, 13971,
       13972, 13972, 13973, 13973, 13975, 13976, 13976, 13978, 13978,
       13979, 13979, 13980, 13980, 14209, 14459, 14467, 14469, 14471,
       14482, 14486, 14491, 14505, 14515, 14543, 14553, 14558, 14686,
       14718, 14756, 14805, 14913, 14931, 14959, 15049, 15059, 15061,
       15105, 15108, 15114, 15117, 15152, 15183, 15203, 15215, 15220,
       15230, 15231, 15232, 15233, 15235, 15241, 15286, 15336, 15337,
       15360, 15413, 15459, 15491, 15500, 15523, 15524, 15526, 15527,
       15533, 15544, 15574, 15579, 15691, 15693, 15694, 15697, 15698,
       15996, 16011, 16019, 16020, 16137, 16171, 16175, 16304, 16420,
       16559, 16606, 16669, 16669, 16818, 16820, 16828, 16839, 16908,
       16909, 16910, 16911, 16912, 16913, 16914, 16915, 16918, 16938,
       17024, 17073, 17106, 17107, 17108, 17109, 17110, 17111, 17112,
       17113, 17118, 17157, 17158, 17160, 17161, 17162, 17166, 17167,
       17170, 17171, 17173, 17185, 17310, 17310, 17413, 17460, 17493,
       17494, 17551, 17690, 17752, 17754, 17761, 17770, 17777, 17798,
       17845, 17854, 17855, 17858, 18043, 18052, 18053, 18055, 18059,
       18061, 18065, 18066, 18067, 18069, 18076, 18078, 18079, 18080,
       18081, 18087, 18209, 18269, 18277, 18280, 18281, 18282, 18283,
       18287, 18298, 18325, 18327, 18341, 18346, 18347, 18348, 18349,
       18351, 18352, 18353, 18354, 18355, 18356, 18360, 18361, 18362,
       18363, 18366, 18462, 18501, 18504, 18505, 18619, 18681, 18681,
       18745, 18858, 18860, 18875, 18911, 18926, 18980, 18985, 19006,
       19006, 19006, 19362, 19362, 19421, 19452, 19536, 19536, 19574,
       19658, 19736, 19736, 19789, 19800, 19802, 19803, 19806, 19807,
       19975, 19975, 19976, 19976, 19977, 19977, 20093, 20093, 20094,
       20094, 20112, 20113, 20113, 20121, 20163, 20249, 20278, 20305,
       20308, 20316, 20318, 20333, 20336, 20376, 20380, 20389, 20424,
       20426, 20427, 20436, 20440, 20451, 20529, 20530, 20544, 20563,
       20629]), array([0, 4, 0, 0, 0, 0, 0, 4, 4, 3, 4, 4, 4, 4, 4, 4, 4, 4, 0, 0, 4, 0,
       4, 4, 4, 2, 3, 4, 4, 4, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3,
       0, 4, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0,
       4, 2, 3, 2, 3, 2, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 3, 2, 3, 4,
       2, 3, 2, 3, 4, 4, 0, 4, 4, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 3,
       0, 4, 0, 4, 4, 4, 4, 2, 3, 4, 4, 2, 3, 2, 3, 2, 3, 5, 4, 0, 0, 0,
       4, 4, 4, 4, 4, 4, 4, 0, 4, 4, 0, 4, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 4, 4, 4, 0, 0, 0, 0, 4, 0, 0, 0, 4, 0, 0, 4,
       4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 4, 4, 0, 0, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 0, 4, 0, 0, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 0, 0, 0, 4, 4, 4, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 4, 0, 0, 4, 4, 4, 4, 4, 4, 0, 4, 4, 4, 4, 4, 4, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 5, 0, 0, 0, 0, 4, 4, 4, 0, 0, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 0, 4, 4, 4, 4, 4, 4, 4, 4, 5, 4, 4, 2, 3,
       4, 4, 4, 0, 4, 0, 0, 0, 0, 0, 0, 2, 3, 2, 3, 4, 2, 3, 3, 2, 3, 2,
       3, 2, 3, 2, 3, 2, 3, 4, 4, 4, 4, 4, 4, 0, 0, 4, 4, 2, 3, 2, 3, 2,
       3, 2, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 0, 0, 0, 4, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 4, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 4, 4, 4, 4,
       4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 4, 4, 0, 0, 0, 0, 0, 0, 0,
       2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3,
       2, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 4, 0, 2, 3, 2, 3, 2, 3, 2, 3, 2,
       3, 2, 3, 2, 3, 2, 2, 3, 2, 3, 2, 3, 0, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 2, 3,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 2, 3, 3, 2, 3, 3, 2, 3, 2, 3,
       3, 3, 4, 2, 2, 2, 3, 3, 2, 3, 2, 4, 4, 0, 2, 3, 4, 2, 3, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 0, 4, 4, 4, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       0, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 2, 3, 3, 2, 3, 2, 3, 2, 3, 2,
       3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 3,
       2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 3, 2,
       3, 2, 3, 2, 3, 2, 3, 4, 0, 0, 0, 4, 0, 0, 0, 4, 4, 4, 4, 4, 0, 0,
       4, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 0, 4, 4, 4, 4, 0, 0, 0, 0, 0,
       0, 4, 4, 4, 4, 4, 4, 4, 2, 4, 4, 4, 4, 4, 4, 4, 4, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 5, 4, 4, 4, 5, 4, 4, 0, 4, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 4, 0, 2, 4, 4, 0, 0, 4, 4, 4, 4, 4, 4, 4, 0, 4, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       4, 0, 0, 0, 0, 2, 3, 4, 3, 4, 4, 4, 4, 4, 4, 0, 4, 5, 2, 3, 4, 4,
       2, 3, 4, 4, 2, 3, 3, 3, 3, 3, 3, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3,
       3, 2, 3, 4, 0, 4, 4, 4, 4, 4, 4, 4, 4, 0, 0, 0, 4, 0, 4, 0, 4, 4,
       4, 4, 4, 4, 4]))

In [8]:
# Print z-score of 17845[0]
print(z_score[131][0])

4.0694430501296885

In [13]:
#Remove the outliers
california_df_zscore_removed_outliers = california_df_zscore[((stats.zscore(california_df_zscore)) < 3).all(axis=1)]

print("The number of rows before outlier filtering was: ", california_df.shape)
print("The number of rows after outlier filtering was: ", california_df_zscore_removed_outliers.shape)

The number of rows before outlier filtering was:  (20640, 9)
The number of rows after outlier filtering was:  (19794, 9)

Hence, number of rows removed using outlier filter is 846

Using IQR Score - Interquartile range

In [15]:
# Calculate IQR
california_df_iqr = california_df
Q1 = california_df_iqr.quantile(0.25)
Q3 = california_df_iqr.quantile(0.75)
IQR = Q3 - Q1
display(IQR)

MedInc                 2.179850
HouseAge              19.000000
AveRooms               1.611665
AveBedrms              0.093447
Population           938.000000
AveOccup               0.852520
Latitude               3.780000
Longitude              3.790000
prediction_target      1.451250
dtype: float64

In [24]:
# Detect the outliers

display(california_df_iqr < (Q1 - 1.5 * IQR)) or (california_df_iqr > (Q3 + 1.5 * IQR))

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,prediction_target
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
20635,False,False,False,False,False,False,False,False,False
20636,False,False,False,False,False,False,False,False,False
20637,False,False,False,False,False,False,False,False,False
20638,False,False,False,False,False,False,False,False,False
20639,False,False,False,False,False,False,False,False,False

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,prediction_target
0,True,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
20635,False,False,False,False,False,False,False,False,False
20636,False,False,False,True,False,False,False,False,False
20637,False,False,False,False,False,False,False,False,False
20638,False,False,False,False,False,False,False,False,False
20639,False,False,False,False,False,False,False,False,False