<a href="https://colab.research.google.com/github/mspendyala/data-engineering/blob/main/ExploratoryDataAnalysis/StatisticalFoundations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import needed libraries
import pandas as pd

In [2]:
# Turn off the scientific notation
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [5]:
df = pd.read_csv("/content/drive/MyDrive/MLData/datafiles/sales_train.csv")

**Calculate Measures of Central Tendency**

In [6]:
df.describe()

       date_block_num    shop_id    item_id  item_price  item_cnt_day
count      1043246.00 1043246.00 1043246.00  1043246.00    1043246.00
mean             4.47      32.45   10242.60      682.37          1.22
std              2.97      16.26    6305.36     1124.83          1.60
min              0.00       0.00      12.00       -1.00         -6.00
25%              2.00      22.00    4548.00      199.00          1.00
50%              4.00      30.00    9691.00      399.00          1.00
75%              7.00      47.00   15618.75      699.30          1.00
max             10.00      59.00   22168.00    59200.00        288.00

Find median

In [7]:
df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

date_block_num      4.00
shop_id            30.00
item_id          9691.00
item_price        399.00
item_cnt_day        1.00
dtype: float64

**Find Mode**

In [8]:
df.mode()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  23.02.2013               2       31    20949      299.00             1

**Find Range**

In [10]:
# numpy ptp method gives range of values
import numpy as np
print("Range of item_price:", np.ptp(df.item_price, axis=0))
print("Range of item_cnt_day:", np.ptp(df.item_cnt_day, axis=0))

Range of item_price: 59201.0
Range of item_cnt_day: 294

**Interquartile Range**

In [14]:
#axis =0 means column and not row
from scipy.stats import iqr
iqr(df[['item_price', 'item_cnt_day']], axis=0)

array([500.3,   0. ])