<a href="https://colab.research.google.com/github/mspendyala/data-engineering/blob/main/ExploratoryDataAnalysis/StatisticalFoundations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import needed libraries
import pandas as pd

In [3]:
# Turn off the scientific notation
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [7]:
train = pd.read_csv("/content/drive/MyDrive/MLData/datafiles/sales_train.csv")

**Calculate Measures of Central Tendency**

In [8]:
train.describe()

       date_block_num   shop_id   item_id  item_price  item_cnt_day
count       403495.00 403495.00 403495.00   403495.00     403495.00
mean             1.34     30.68  10114.86      694.60          1.17
std              1.04     16.78   6314.91     1135.78          0.89
min              0.00      0.00     12.00        3.00         -6.00
25%              0.00     19.00   4420.00      206.00          1.00
50%              1.00     28.00   9281.00      399.00          1.00
75%              2.00     46.00  15273.00      734.00          1.00
max              3.00     59.00  22168.00    32990.00         88.00

In [ ]:
train.mean()